.lrButtonsNot{
    margin: 2%;
    background: transparent;
    border: 0px;
}

.ss{
    border: 0px;
}

.genderborder{
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    color: grey;
    transition: border-color 0.15s;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: .5rem;
    line-height: 1.5;
    margin-left: 1.5rem;
    font-weight: 300;
    text-align: left!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.telborder{
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    color: grey;
    transition: border-color 0.15s;
    font-size: 1rem;
    display: inline-block;
    line-height: 1.5;
    font-weight: 300;
    text-align: left!important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

::after, ::before {
    box-sizing: border-box;
}